main {
    width: 90%;
    max-width: 50rem;
    margin: 2.5rem auto;
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
  }
  
  #users {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    overflow: auto;
    max-height: 50vh;
  }
  
  #fallback {
    font-weight: bold;
    font-size: 1.15rem;
    margin: 0;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    main {
      margin: 4rem auto;
      grid-template-columns: 1fr 3fr;
    }
  
    #users {
      flex-direction: column;
    }
  
    #fallback {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: #150722;
    border: 2px #433352 solid;

    color: #433352;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
  }
  
  button:hover,
  button:active,
  .active {
    background-color: #9965dd;
    color: #150722;
    border:none;
  }
  
  